*{
  padding: 0;
  margin: 0;
}
body {
  background-color:ghostwhite;
  color:whitesmoke;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.a{
  float: left;
}
main {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 2px;
  margin-bottom: 10em;
  
}
main div {
  padding: 3em;
  text-align: center;
  width: 200px;
}
.item-H {
  background-color: #cc4a33;
  grid-column-start: 1;
  grid-column-end: 3;
  padding-right: 4px
}
.item-He {
  background-color:orange; 
}
.item-Li {
  background-color:green;
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 4 ;
}
.item-Be {
 background-color:deepskyblue;
  grid-column-start: 2;
  grid-column-end: 4 ;
  
}
.item-B {
  background-color:deepskyblue;
  grid-column-start: 2;
  grid-column-end: 4 ;
  
}
  




